div.todo {
  margin: auto;
  padding: 0px;
  display: grid;
  text-align: center;
  align-items: center;
  min-height: fit-content;
  width: auto;
}

h1,
a {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  word-break: break-word;
  margin: 0.25rem;
  margin-top: 1rem;
}

html {
  background: linear-gradient(90deg, #834545, #1a17cdba);
}

body {
  margin: auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  width: 100%;
}

div {
  padding: 4px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  width: auto;
}

div.app {
  padding: 0px;
  display: contents;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  width: auto;
}

div.box0 {
  margin: inherit;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  width: 100%;
  background-color: #3b3b3b;
}

div.box1 {
  margin: inherit;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  width: 100%;
  background-color: #45837a99;
}

div.box2 {
  margin: auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  width: 100%;
  background-color: #45835470;
  padding-bottom: 0.75rem;
}

div.box3 {
  margin: auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  width: 100%;
  background-color: #83458287;
}

div.creditos {
  align-content: center;
  margin: auto;
  padding: 0.5rem;
}

p {
  font-size: 1.75rem;
  margin: 0;
}

button {
  background-color: #0000002b;
  color: white;
  padding: 1rem;
  border: initial;
  border-radius: 0;
  margin: 4px;
  cursor: pointer;
  font-size: 0.75rem;
  transition: background-color 0.3s ease;
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  word-break: break-word;
}

button.todo {
  height: 150px;
}

button:hover {
  background-color: #183743;
}

@media only screen and (max-width: 600px) {
  h1,
  a {
    font-size: 1.5rem;
  }

  p {
    font-size: 40px;
    margin: 2px;
  }

  textarea {
    width: 100%;
  }
}

textarea {
  margin: 20px 10px 10px 10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: none;
  padding: 15px;
  border-radius: 15px;
  padding: 15px;
  background-color: #0000002b;
  color: white;
}

#status {
  margin-top: 10px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: white;
}

.box4 {
  margin: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  width: 100%;
  background-color: #45837a99;
}

/**/

/*body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }*/

.chart-container {
  font-family: Arial, sans-serif;
  justify-content: space-around;
  align-items: flex-end;
  margin: 20px 10px 10px 10px;
  max-width: 100%;
  display: flex;
  border: none;
  background-color: #0000002b;
  color: white;
  border-radius: 15px;
  padding: 15px;
  min-height: 9rem;
}

.bar {
  width: 1.5rem;
  background: linear-gradient(180deg, rgb(38 192 111) 0%, rgb(0 255 119) 80%);
  text-align: center;
  font-size: small;
  color: white;
  text-shadow: 1px 2px black;
  margin: 0 1px;
  border-radius: 5px;
}

.bar-label {
  margin-top: 5px;
  text-align: center;
}

.button-plain,
.button-plain:hover {
  /* Resetear estilos para el botón */
  all: unset; /* Elimina todos los estilos */
  /* Opcionalmente, puedes establecer propiedades específicas a su valor predeterminado */
  display: inline-block; /* Asegura que el botón se muestre como un elemento de bloque */
  padding: initial; /* Restablece el relleno a su valor inicial */
  margin: 0; /* Restablece los márgenes a cero */
  font: unset; /* Restablece la fuente a su valor inicial */
  text-align: initial; /* Restablece la alineación del texto */
  color: initial; /* Restablece el color del texto */
  background-color: initial; /* Restablece el color de fondo */
  border: initial; /* Restablece el borde */
  cursor: pointer; /* Establece el cursor a su valor predeterminado de botón */
  outline: none; /* Elimina el contorno al enfocar */
  /* Puedes agregar más propiedades según sea necesario */
}

/* Estilo base para el scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Ancho del scrollbar */
}

/* Barra del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  /* Color de fondo de la barra */
  border-radius: 15px;
  /* Borde redondeado */
}

/* Pista del scrollbar (donde se mueve el thumb) */
::-webkit-scrollbar-track {
  background-color: #222;
  /* Color de fondo de la pista */
}

/* Cambiar el cursor al interactuar con el scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border-radius: 10px;
  /* Color de fondo del thumb al pasar el cursor */
}